.main {
  box-sizing: border-box;
  width: 75%;
  height: 100%;
  margin: 20px 10px 0px 10px;
}

.main > h1 {
  font-size: 4em;
}

.booksList {
  overflow-y: auto;
  max-height: 80vh;
}

.scrollableContainer {
  padding-right: 1em; /* Adjust for scrollbar width to prevent content from shifting */
}

.addButton {
  margin-top: 2em;
  height: 4em;
  width: 100%;
  font-size: 1.5em;
}
