.main {
  background-color: white;
  box-sizing: border-box;
  padding: 2em;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 36%;
}

.main > h1 {
  font-size: 3em;
}

.main > button {
  width: 100%;
  height: 3em;
  font-size: 1.5em;
}

.closeImage {
  width: 100%;
  text-align: end;
}

.inputs {
  margin-top: 1em;
  margin: 1em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs > input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
}

/* For Firefox */
.inputs > input[type="number"] {
  -moz-appearance: textfield;
}

.inputs > input {
  width: 42%;
  padding: 0.5em;
  font-size: 2em;
}
